html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html body {
  background-image: url(../img/tactile_noise.png);
}

nav.navegadorFull {
  font-size: 1.6rem;
  opacity: 90%;
}
nav div img.logo {
  margin-right: 0.5rem;
  margin-top: 1rem;
}

header div.imagenHeader {
  height: 35rem;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}
header div.imagenHeader img {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: -30%;
}

@media (min-width: 990px) {
  nav.navegadorFull {
    height: 4.4rem;
  }
}
section h1 {
  font-size: 3.5rem;
  color: white;
  font-family: "Kanit", sans-serif;
}

section h2 {
  font-size: 3.5rem;
  color: white;
  font-family: "Kanit", sans-serif;
}

h1.centrarH1 {
  text-align: center;
  margin-top: 4.2rem;
}

main section.index2 {
  padding: 0px;
  overflow: hidden;
}
main section.index2 div.imgIndex2 {
  overflow: hidden;
  filter: grayscale(30%);
  padding: 1;
}

section h3.textoImagen {
  color: white;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
  overflow: hidden;
  font-size: 2.5rem;
}

main {
  margin-bottom: 5rem;
}
main section.index2 div.grayScale:hover {
  filter: grayscale(0%);
}
main section.parrafoIndex {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: radial-gradient(rgb(77, 77, 77), black);
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}

main div.mapa {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
main div iframe.mapa {
  width: 40rem;
  height: 30rem;
}
main div.locales {
  height: calc(100vh - 12rem);
  width: 80%;
}
main div.locales img {
  height: calc(100vh - 12rem);
  width: auto;
  overflow: hidden;
}

main div.tiposDeCerveza {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8rem;
}
main div.tiposDeCerveza img {
  width: 30rem;
}

main.nosotrosPadre {
  display: grid;
  grid-template-areas: "imgNosotros1 seccionNosotros1 seccionNosotros1" "seccionNosotros2 seccionNosotros2 imgNosotros2" "imgNosotros3 seccionNosotros3 seccionNosotros3";
}
main.nosotrosPadre div {
  height: 30rem;
  width: 30rem;
  margin: 1rem 0rem 1rem 0rem;
}
main.nosotrosPadre div img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main.nosotrosPadre section {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  height: auto;
  width: auto;
  margin: 1rem 0px 1rem 0px;
  height: auto;
}
main.nosotrosPadre div.imgNosotros1 {
  margin-top: 2rem;
}
main.nosotrosPadre div.imgNosotros2 {
  background-color: white;
  height: 30rem;
}
main.nosotrosPadre section.seccionNosotros1 {
  text-align: right;
}
main.nosotrosPadre section.seccionNosotros2 {
  background-color: white;
  color: black;
  text-align: left;
}
main.nosotrosPadre section.seccionNosotros2 h2 {
  color: black;
}
main.nosotrosPadre section.seccionNosotros3 {
  text-align: right;
}

/* grid nosotros*/
.imgNosotros1 {
  grid-area: imgNosotros1;
}

.imgNosotros2 {
  grid-area: imgNosotros2;
}

.imgNosotros3 {
  grid-area: imgNosotros3;
}

.seccionNosotros1 {
  grid-area: seccionNosotros1;
}

.seccionNosotros2 {
  grid-area: seccionNosotros2;
}

.seccionNosotros3 {
  grid-area: seccionNosotros3;
}

main form.formulario {
  margin-top: 10rem;
  width: 45rem;
  border: 2px double white;
  padding: 2rem;
  border-radius: 4px;
  background: radial-gradient(rgb(77, 77, 77), black);
  font-family: "Kanit", sans-serif;
  color: white;
  text-transform: uppercase;
}
main form.formulario legend.contacto1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.bordesFooter {
  border-top: 3px white double;
  padding: 0.8rem;
  color: white;
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 1.3rem;
}

footer div.redes {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
footer div.redes div.wp {
  width: 6.5rem;
  margin: 0px 5px 0px 5px;
}
footer div.redes div.fb, footer div.redes div.ig {
  width: 7rem;
  margin: 0px 5px 0px 5px;
}

.zoom {
  transition: transform 0.5s;
}
.zoom:hover {
  transform: scale(1.2);
}

.bordesRedondeados {
  border-radius: 10px;
}

@-webkit-keyframes animacion1 {
  0% {
    transform: translate(0px, 0px);
  }
  3% {
    transform: translate(0px, -2px);
  }
  12% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -2px);
  }
  18% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, -2px);
  }
  32% {
    transform: translate(0px, 0px);
  }
  35% {
    transform: translate(0px, -2px);
  }
  37% {
    transform: translate(0px, 0px);
  }
}

@keyframes animacion1 {
  0% {
    transform: translate(0px, 0px);
  }
  3% {
    transform: translate(0px, -2px);
  }
  12% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -2px);
  }
  18% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, -2px);
  }
  32% {
    transform: translate(0px, 0px);
  }
  35% {
    transform: translate(0px, -2px);
  }
  37% {
    transform: translate(0px, 0px);
  }
}
nav a img.animacion1 {
  -webkit-animation-name: animacion1;
          animation-name: animacion1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes animacion2 {
  0% {
    margin-right: 300%;
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
}

@keyframes animacion2 {
  0% {
    margin-right: 300%;
    visibility: hidden;
  }
  40% {
    visibility: hidden;
  }
}
div.animacion2 {
  -webkit-animation-name: animacion2;
          animation-name: animacion2;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (min-width: 990px) {
  nav.navegadorFull {
    height: 4.4rem;
  }
}
/* Tablet */
@media (min-width: 700px) and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
  main.nosotrosPadre section {
    height: auto;
    font-size: medium;
  }
  header div.nosotrosSmall {
    margin-top: 8rem;
  }
  nav div img.logo {
    margin-right: 0;
    margin-top: 0;
  }
  h1.centrarH1 {
    margin-top: 10rem;
  }
  main div.locales {
    width: 90%;
    height: auto;
  }
}
/* TELEFONO */
@media (max-width: 699px) {
  html {
    font-size: 50%;
  }
  .zoom:hover {
    transform: scale(1);
  }
  nav div img.logo {
    margin-right: 0;
    margin-top: 0;
  }
  h1.centrarH1 {
    margin-top: 10rem;
  }
  /* index */
  header div.imagenHeader {
    display: none;
  }
  main section.parrafoIndex {
    display: none;
  }
  header div.imagenHeader img {
    top: -50;
  }
  header div.nosotrosSmall {
    margin-top: 8rem;
  }
  /* Nosotros */
  main.nosotrosPadre {
    grid-template-areas: "seccionNosotros1" "imgNosotros1" "seccionNosotros2" "imgNosotros2" "seccionNosotros3" "imgNosotros3";
  }
  main.nosotrosPadre section {
    height: auto;
    font-size: medium;
  }
  main.nosotrosPadre section.seccionNosotros1 {
    text-align: justify;
  }
  main.nosotrosPadre section.seccionNosotros2 {
    text-align: justify;
    margin-bottom: 0px;
  }
  main.nosotrosPadre section.seccionNosotros2 h2 {
    text-align: right;
    margin-bottom: 0px;
  }
  main.nosotrosPadre section.seccionNosotros3 {
    text-align: justify;
  }
  main.nosotrosPadre div {
    width: auto;
    text-align: center;
    margin: 0px;
    display: none;
  }
  main.nosotrosPadre div.imgNosotros2 {
    background-color: white;
  }
  main section.parrafoIndex p {
    font-size: medium;
  }
  main div.locales {
    width: 90%;
    height: auto;
  }
  main div.locales img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */