body {
    background-image: url(../img/tactile_noise.png);
}

/* MAIN INDEX */

html {
    font-size: 62.5%;
}

nav.navegadorFull {
    font-size: 1.6rem;
    opacity: 90%;
 }


header div.imagenHeader {
    height: 35rem;
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
   
}

header div.imagenHeader img {
    width: 100%;
    height: max-content;
    position: absolute;
    top: -30%;
    
}



main section.index2 div.imgIndex2 {
    overflow: hidden;
    filter: grayscale(30%);
    padding: 1;

}




main section.index2 {
    padding: 0px;
    overflow: hidden;
}


section h5.textoImagen {
    color: rgb(225, 225, 225);
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    font-size: 2.5rem;
}


main section.index2 div.grayScale:hover {
filter: grayscale(0%);

}


main section.parrafoIndex{
    height: fit-content;
    background: radial-gradient(rgb(77, 77, 77), black)
}


main section.parrafoIndex  {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    
    
}

main section.parrafoIndex h2 {
    font-size: 4rem;
    font-weight: bold;
}

main { 
    margin-bottom: 10rem;
}





/* FOOTER */

.bordesFooter {
    border-top: 3px white double;
    padding: 0.8rem;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center; 
    font-size: 1.3rem; 
}

footer div.redes {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer div.redes div.wp {
    width:7rem;
    margin: 0px 5px 0px 5px;
}

footer div.redes div.fb {
    width: 7.5rem;
    margin: 0px 5px 0px 5px;
}

footer div.redes div.ig {
    width: 7.5rem;
    margin: 0px 5px 0px 5px;
}

/* MAIN LOCAL */


main div.mapa {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

main div iframe.mapa{
   width: 40rem;
   height: 30rem;
}



main div.locales {
    width: 70%;
    margin-top: 4rem;
    
    
}
  

/* MAIN CERVEZAS */

main div.tiposDeCerveza {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem;
}


main div.tiposDeCerveza img {
    width: 30rem;
}



/* FORMULARIO */



main form.formulario{
    margin-top: 10rem;
    width: 45rem;
    border: 2px double white;
    padding: 2rem;
    border-radius: 4px;
    background: radial-gradient(rgb(77, 77, 77), black);
    font-family: 'Kanit', sans-serif ;
    color: white;
    text-transform: uppercase;
}



main form.formulario legend.contacto1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem
}





/* MAIN NOSOTROS */


main.nosotrosPadre div {
    height: 30rem;
    width: 30rem;
    margin: 1rem 0rem 1rem 0rem;
}

main.nosotrosPadre div img{
    height: 100%;
    width: fit-content;
}



main.nosotrosPadre section {
    height: auto;
    width: auto;
    font-family:'Kanit', sans-serif ;
    color: white;
    margin: 1rem 0px 1rem 0px;
    height: auto;
    font-size: 1.5rem;

}



main.nosotrosPadre div.imgNosotros1 {
    margin-top: 2rem;
}

main.nosotrosPadre div.imgNosotros2 {
    background-color: white;
    height: 30rem;
}

main.nosotrosPadre section h2 {
    font-weight: bolder;
    padding: 1rem;
}

main.nosotrosPadre section.seccionNosotros1 {
    text-align: right;
}


main.nosotrosPadre section.seccionNosotros2 {
    background-color: white;
    color: black;
    text-align: left;
}

main.nosotrosPadre section.seccionNosotros3 {
    text-align: right;
}

/* grid nosotros*/

main.nosotrosPadre {
    display: grid;
    grid-template-areas: 
    "imgNosotros1 seccionNosotros1 seccionNosotros1"
    "seccionNosotros2 seccionNosotros2 imgNosotros2"
    "imgNosotros3 seccionNosotros3 seccionNosotros3";
    
}

.imgNosotros1 {
    grid-area: imgNosotros1;
}

.imgNosotros2 {
    grid-area: imgNosotros2;
}

.imgNosotros3 {
    grid-area: imgNosotros3;
}

.seccionNosotros1 {
    grid-area: seccionNosotros1;
}

.seccionNosotros2 {
    grid-area: seccionNosotros2;
}

.seccionNosotros3 {
    grid-area: seccionNosotros3;
}


/* DETALLES */

.zoom {
    transition: transform .5s; 
}
 
.zoom:hover {
    transform: scale(1.2); 
}

.bordesRedondeados {
    border-radius: 10px;
}

/* ANIMACIONES */

@keyframes animacion1{
    0% {
        transform: translate(0px, 0px);
         }
    3% {
       transform: translate(0px, -2px);
    }
    12% {
        transform: translate(0px, 0px);
         }
    15% {
       transform: translate(0px, -2px);
    }
    18% {
        transform: translate(0px, 0px);
     }
     30% {
        transform: translate(0px, -2px);
     }
     32% {
         transform: translate(0px, 0px);
          }
     35% {
        transform: translate(0px, -2px);
     }
     37% {
         transform: translate(0px, 0px);
      }
}

nav a img.animacion1 {
    animation-name: animacion1;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1.2s;
}


@keyframes animacion2{
    0% {
        margin-right: 300%;
        visibility: hidden;
    }
    40%{
        visibility: hidden;

     }
}

div.animacion2 { 
    animation-name: animacion2;

    animation-iteration-count: 1;

    animation-duration: 1s;
   
}

/* MEDIA */

@media (min-width:990px) {
    nav.navegadorFull {
        height: 4.4rem;
    }

  
}

/* Tablet */
@media (min-width: 700px) and (max-width: 1100px) {
    
    html {
        font-size: 50%;
    }

    main.nosotrosPadre section { 
        height: auto;
        font-size: medium;
    }

   

 }



/* TELEFONO */

@media  (max-width: 699px) {

    html {
        font-size: 50%;
    }

    .zoom:hover {
        transform: scale(1); 
        
    }

 

    /* index */

    header div.imagenHeader {
        height: 20rem;
        width: 100%;
    }

    main section.parrafoIndex {
        display: none;
    }


    /* Nosotros */



    main.nosotrosPadre {
        grid-template-areas: 
        "seccionNosotros1"
        "imgNosotros1"
        "seccionNosotros2"
        "imgNosotros2"
        "seccionNosotros3"
        "imgNosotros3";
        
    }

    main.nosotrosPadre section { 
        height: auto;
        font-size: medium;
    }

    main.nosotrosPadre section.seccionNosotros1 {
        text-align: justify;
    }

    main.nosotrosPadre section.seccionNosotros2 {
        text-align: justify;
        margin-bottom: 0px;
    }

    main.nosotrosPadre section.seccionNosotros2 h2 {
        text-align: right;
        margin-bottom: 0px;
    }

    main.nosotrosPadre section.seccionNosotros3 {
        text-align: justify;
    }

    main.nosotrosPadre div{
        width: auto;
        text-align: center;
        margin: 0px;
    }

    main.nosotrosPadre div.imgNosotros2 {
        background-color: white;
    }

    main.nosotrosPadre div{
        display: none;
    }

    main section.parrafoIndex p {
        font-size: medium;
    }

    /* Locales */

    main div.locales {
        width: 100%;
      
        
    }
}



